@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";

html, body {
  width: 100vw;
  background-color: #030814;
  color: white;
  
}



@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}



@layer components {
  .hero-text {
    @apply md:mx-5 mx-2 md:my-4 my-2;
    h1 {
      @apply md:text-[60px] text-[30px] ;
    }
  }
}



.slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
}