@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import "tailwindcss";

html, body {
  width: 100vw;
  background-color: #030814;
  color: white;
}



@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}



@layer components {
  .hero-text {
    @apply mx-[min(5vw,100px)] my-[min(8vw,100px)];
  }

  .firstname {
      @apply text-[min(12vw,200px)];
  }

  .lastname {
    @apply text-[min(4vw,100px)];
  }
}



.slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: Slider 20s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

.subwrapper {
  display: flex;
  flex-direction: column;
  animation: Slider 10s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}


@keyframes Slider {
  0%, 50% {
    transform: translateY(0%);
  }
  50.1%, 100% {
    transform: translateY(-50%);
  }
}

.namepolice {
  font-family: "Comforter Brush", cursive;
  font-weight: 400;
  font-style: normal;
}