@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import "tailwindcss";

html, body {
  width: 100vw;
  background-color: #030814;
  color: white;
}



@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}



@layer components {
  .hero-text {
    @apply mx-[min(6vw,10000px)] p-[min(3vw,10000px)] rounded-[min(1vw,10000px)];
  }

  .hero-logo {
    @apply mr-[min(5vw,10000px)] mt-[min(8vw,10000px)] px-[min(5vw,10000px)];
  }

  .firstname {
      @apply text-[min(12vw,200px)];
  }

  .lastname {
    @apply text-[min(4vw,100px)];
  }
}


.wrapper {
  display: flex;
  flex-direction: column;
  animation: Slider 30s infinite cubic-bezier(1.00,0.05,1.00,-0.24);
}

.subwrapper {
  display: flex;
  flex-direction: column;
  animation: Slider 15s infinite cubic-bezier(1.00,0.05,1.00,-0.24);
  animation-delay: 1s;
}


@keyframes Slider {
  0% {
    transform: translateY(0%);
  }
  50.1% {
    transform: translateY(-50%);
  }
}

.logowrapper {
  animation: Logo 30s infinite cubic-bezier(1.00,0.05,1.00,-0.24);
}

@keyframes Logo {
  0% {
    transform: translateX(-8.69%);
  }
  25.1% {
    transform: translateX(-30.43%);
  }
  50.1% {
    transform: translateX(-52.17%);
  }
  75.1% {
    transform: translateX(-73.91%);
  }
}

.namepolice {
  font-family: "Comforter Brush", cursive;
  font-weight: 400;
  font-style: normal;
}